<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /cubeworld/
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /cubeworld/index.php [L]
</IfModule>